body {
    width: 80%;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
}

.Balra {
    width:150px;
    height:150px;
    background-color: lightblue;
    float: left;
    margin-right: 10px;
    --h: 150px


}

.jobbra{
    background-color: brown;
    width: 70px;
    height: 300px;
    float: right;
    margin-left: 5px;
    color: white;
}


h1 {
    background-color: yellow;
    clear:both;

}

p {
    text-align: justify;
}

#also {
    background-color: lightcoral;
    overflow: auto;
    
}

#also_alatti {
    background-color: lightgreen;
    text-align: justify;
    padding: 5px;
    margin-top: 5px;
    height: 300px;
    overflow: auto;
    white-space:;
    
}

