
div {
    background-color: lightblue;
    height: 40px;
    width: 50%;
}

#tartalom {

}

#szegely {
    border: 2px solid red;
    padding: 20px;
    /* width: 116px; */
    width: calc(50% -44px);


}
