/* body {
    background-color: red;
} */
#piros {
    background-color: red;
    width: 150px;
    /* height: 300px; */
}
#kék {
    background-color: blue;
    width: 75%;
}
#felsodoboz {
    background-color: lightgray;
    width: 50%;
}
/* vw: view width */
#magenta {
    background-color: magenta;
    width: 75vw;
}

#zöld {
    background-color: green;
    height: 100px;
}

#lila {
    background-color: purple;
     height: 10vh;
