
p {
    font-size: 8px;
}


#labdarugas {
    font-weight: bold;
}

#foci {

    color: red;
    /* font-size: 200%; */
    font-size: 2em;
    display: inline-block;
    width: 40%;
    background-color: lightblue;
}

html {
    font-size: 20px;
}
 #labdajatek {
    /* root=html */
    color: blue;
    font-size: 2rem;
 }


 #USA{
    font-variant: small-caps;
 }

 #IFA {

    color: purple;
    font-family: 'Courier New', Courier, monospace ;
 }
 p {
    margin: 40px 0px;
 }
 #második {
    line-height: 2em;
    /* szövegigazítás
    justify =sorkizárt */
    text-align: center;
 }

 /* sorköz */

#főleg {
    letter-spacing: 5px;
    
}
h1 {
    text-align: center;
    font-weight: normal;
    text-decoration: 1px underline green wavy;

}


#FIFA {
    text-transform: lowercase;
    text-transform: uppercase;
    text-transform: capitalize;
    /* transform lower=kicsi upper=nagy  */
}

a {
    color: black;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    
}


 