
p {
    font-size: 8px;
}


#labdarugas {
    font-weight: bold;
}

#foci {

    color: red;
    /* font-size: 200%; */
    font-size: 2em;
    display: inline-block;
    width: 40%;
    background-color: lightblue;
}

html {
    font-size: 20px;
}
 #labdajatek {
    /* root=html */
    color: blue;
    font-size: 2rem;
 }


 #USA{
    font-variant: small-caps;
 }

 #IFA {

    color: purple;
    font-family:Quicksands ;
 }